
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <img src="../../assets/img/image.png" alt="" style="max-width: 100%; height: auto; display: block; margin: auto;">
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <ion-card>
      <form [formGroup]="formularioLogin" >
        <ion-card-content>
          <h1 style="max-width: 100%; height: auto; display: block; margin: auto; text-align: center; color: black;">Login</h1> 
          <ion-item>
            <br>
            <ion-input formControlName="Usuario" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingresar nombre de usuario"></ion-input>
            <br>
            <ion-input formControlName="Contraseña" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresar contraseña" type="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
            <br>
            <ion-button (click)="entrar()" fill="outline">Ingresar</ion-button>
            <ion-button fill="outline" [routerLink] = "['/register']">Registrar</ion-button>
          </ion-item>
            
        </ion-card-content>
      </form>
      
    </ion-card>
  </div>
  

  <!-- instalación angular
 ng version
 npm install -g @angular/cli
 ng version
 ng add @angular/material-->


  <!-- 
 npm install
 ionic generate component Base/header -->
