<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><img src="../../assets/img/image.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">enter</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<form [formGroup]="registerForm" (ngSubmit)="register()">
  <ion-card>
    <h1>Registrarse</h1>
    <ion-input formControlName="Nombre" label="Nombre" label-placement="floating" fill="outline" placeholder="Ingresar su nombre"></ion-input>
    <br>
    <ion-input formControlName="Apellido" label="Apellido" label-placement="floating" fill="outline" placeholder="Ingresar su apellido"></ion-input>
    <br>
    <ion-input formControlName="Usuario" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingresar nombre de usuario"></ion-input>
    <br>
    <ion-input formControlName="datetime" label="Fecha de nacimiento" label-placement="floating" fill="outline" placeholder="Ingresar nombre de usuario" type="date"></ion-input>
    <br>
    <ion-input formControlName="Numero" label="Numero" type="tel" placeholder="888-888-8888" fill="outline">Numero de telefono</ion-input>
    <br>
    <ion-input formControlName="password" type="password" label="Password" fill="outline">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
    <br>
    <ion-button (click) = "register()" expand="full" type="submit">Registrar</ion-button>

  </ion-card>
</form>
  


