<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img
        src="https://cdn.discordapp.com/attachments/1257826922470182966/1277786156137971722/image.png?ex=66d30bd7&is=66d1ba57&hm=2d83bdd6fbbae4c17de73d6ca3b0088d055fa5b3238ae5c100dd04c6d7a86729&"
        alt="" srcset="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login de Acceso</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <br>
    <h1>Login </h1>
</ion-content>



  <!-- instalación angular
 ng version
 npm install -g @angular/cli
 ng version
 ng add @angular/material-->