<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-card>
    <ion-card-content>
      <h1 style="max-width: 100%; height: auto; display: block; margin: auto; text-align: center; color: black;">Login</h1> 
        <br>
        <ion-input label="Usuario" label-placement="floating" fill="outline" placeholder="Ingresar nombre de usuario"></ion-input>
        <br>
        <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresar contraseña" type="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <br>
        <ion-button fill="outline" [routerLink] = "['/perfil']">Ingresar</ion-button>
        <ion-button fill="outline" [routerLink] = "['/recuperar']">Recuperar contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</div>